<%= form_with(model: thorn, local: true) do |form| %>
  <% if thorn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thorn.errors.count, "error") %> prohibited this thorn from being saved:</h2>

      <ul>
      <% thorn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :thorn_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
