<p id="notice"><%= notice %></p>

<h1>Thorns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thorns.each do |thorn| %>
      <tr>
        <td><%= thorn.name %></td>
        <td><%= link_to 'Show', thorn %></td>
        <td><%= link_to 'Edit', edit_thorn_path(thorn) %></td>
        <td><%= link_to 'Destroy', thorn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thorn', new_thorn_path %>
