<%= form_with(model: kobold, local: true) do |form| %>
  <% if kobold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kobold.errors.count, "error") %> prohibited this kobold from being saved:</h2>

      <ul>
      <% kobold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :kobold_name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :kobold_level %>
  </div>

  <div class="field">
    <%= form.label :hp %>
    <%= form.number_field :hp, id: :kobold_hp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
