<p id="notice"><%= notice %></p>

<h1>Kobolds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Hp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kobolds.each do |kobold| %>
      <tr>
        <td><%= kobold.name %></td>
        <td><%= kobold.level %></td>
        <td><%= kobold.hp %></td>
        <td><%= link_to 'Show', kobold %></td>
        <td><%= link_to 'Edit', edit_kobold_path(kobold) %></td>
        <td><%= link_to 'Destroy', kobold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kobold', new_kobold_path %>
