<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kobold.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @kobold.level %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @kobold.hp %>
</p>

<%= link_to 'Edit', edit_kobold_path(@kobold) %> |
<%= link_to 'Back', kobolds_path %>
