<!DOCTYPE html>
<html>
  <head>
    <title>Myapp3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">


      <nav class="navbar navbar-light bg-faded">
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
     <%= link_to 'GOBBBO LINK', gobz_path %>
      </li>
      <li class="nav-item">
      <%= link_to 'roooot link', root_path %>
      </li>
      <%= link_to 'farp link', farp_path %>
      <li class="nav-item">
      <%= link_to 'kobolssss', kobolds_path %>
      </li>
      <li class="nav-item">
      <%= link_to 'create new ko', new_kobold_path %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
      <%= yield %>



    </div> <!-- /container -->


  

   
  </body>
</html>
